<hr>
<h1>Submitted Questions</h1>
    <p>{{question.question}}? - by {{question.name}} on {{question.date}}</p>[{{answer-no question}} answers]{{#link-to 'question' question.id}}
    Add/View Answers{{/link-to}}
