
@import "ember-bootstrap/bootstrap";
.question{
  text-align: center;
  .name{
    width: 200px;
    margin-left: 41%
  }
}
.name{
  width: 200px;
}
#btn{
  margin: 5%;
  padding: 2%
}
h1 {
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-family: cursive;
}
