<div class= "container">
  <header>

    <ul class="nav nav-tabs">
    <li role="presentation">  {{#link-to 'index'}}Home{{/link-to}}</li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>
</header>
{{outlet}}
  <hr>
  <footer>
  </footer>
</div>
