{{outlet}}
<div class="row question">
{{new-question saveQuestion2="saveQuestion3"}}
</div>
<div class = "answers">
  <h1>Submitted Questions</h1>
  {{#each model.questions as |question|}}
{{question-tile question=question}}
    <hr>
  {{/each}}
</div>
